/* Empty. Add your own CSS if you like #ff5757 */

.tituloApp{

	font-family: RobotoBlack !important;
	color:#444;
}


.lectura a{
	    color: lightcoral !important; 
}
.lecturas a{
	    color: white !important; 
}

.ggp{

}
.ffs{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 49px);
    padding: 20px;
    font-family: RobotoL;
    color: #333;
    line-height: 1.6;
}

.ffs h2{
    color: red;
}
.linkMedia{

	    display: inline-block;
    background-color: #333;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 3.5;
    margin-left: 5px;
    margin-right: 5px;


}